.full-page-bg {
    height: absolute; /* Full height */
    width: absolute; /* Full width */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: #dc3545; /* Bootstrap's bg-danger color */
}

.container{
        height: absolute; /* Full height */
        width: absolute; /* Full width */
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        background-color: #dc3545; /* Bootstrap's bg-danger color */
}

@media (max-width: 1200px) {
    .full-page-bg {
      min-height: 50vh;
      min-width: 100%;
    }
  }

.estimate-form {
    position: relative; /* Ensure positioning context */
    display: inline-block; /* or block, depending on your layout */
     max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    width: 100%
}
.estimate-form input {
    margin-right: 10px; /* Adjust the value as needed */
}
  
.estimate-form button {
    margin-top: 5px; /* Optional: Adds space between the last input and the button */
}
 
.form-item {
    width: 130px;
}

.inline-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.inline-title ::before,
.inline-title ::after {
    content: '';
    flex: 1;
    margin: 1 10px; /* Adjust spacing between the lines and text */
    border-bottom: 1px solid lightgray;
}
  